<%= render :partial => 'articles/title' %>
<%= render :partial => 'articles/menu' %>

  <div class="content">
  <h1>Editing Comment</h1>

  <%= render :partial => "comments_form" %>

  <%= link_to 'Show', [@article, @comment] %> |
  <%= link_to 'Back', articles_path %>
  </div>

