<p>
  <b>Article:</b>
  <%=h @comment.article_id %>
</p>

<p>
  <b>Poster name:</b>
  <%=h @comment.poster_name %>
</p>

<p>
  <b>Body:</b>
  <%=h @comment.body %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>