<% div_for article do %>
  <div class="article_content">
  
  <a class="heading-link" href="<%= article_path(article) %>"><h1><%= h article.title %></h1></a>
  
  <h4><%= h article.created_at.to_s(:long) %></h4>
  
  <div class="article-body"><p><%= article.body %></p></div>
  
  <div class="comment-options">
    <%= link_to 'Show Comments', article_path(article), :id => "#{article.id}", :class => 'show-comment-link'%>
  </div>
  
  <% if user_signed_in? %>
    <div class="article-menu">
      <%= link_to 'Edit', edit_article_path(article) %> | 
      <%= link_to 'Destroy', article, :confirm => "Are you sure?", :method => :delete %>
    </div>
  <% end %>
  </div>
<% end %>
