<div class="main-menu">
<ul>
  <li><div class="menu-link" <%= link_id('Ben', request.path) %> ><%= link_to 'Ben', ben_path %></div></li>
  <li><div class="menu-link" <%= link_id('Blog', request.path) %>><%= link_to 'Blog', articles_path %></div></li>
  <li><div class="menu-link" <%= link_id('Projects', request.path) %>><%= link_to 'Projects', hire_path %></div></li>
</ul>
</div>
