<div class="main-menu">
<ul>
  <li><div <%= link_id('Ben', request.path) %> ><%= link_to 'Ben', ben_path %></div></li>
  <li><div <%= link_id('Blog', request.path) %>><%= link_to 'Blog', articles_path %></div></li>
  <li><div <%= link_id('For Hire', request.path) %>><%= link_to 'For Hire', hire_path %></div></li>
</ul>
</div>
