<div class="blog">
<%= render :partial => 'app_menu' %>
<%= render :partial => 'title' %>
<%= render :partial => 'menu' %>
<div class="content">
  <div class="article-form">
  <h1>Editing article</h1>

  <%= render :partial => "article_form" %>

  <%= link_to 'Show', @article %> |
  <%= link_to 'Back', articles_path %>
  </div>
</div>
</div>
