<div class="blog">
<%= render :partial => 'app_menu' %>
<%= render :partial => 'title' %>
<%= render :partial => 'menu' %>
<div class="content">
  <div class="article-form">
  <h1>New article</h1>

  <%= render :partial => 'article_form' %>
  <%= link_to 'Back', articles_path %>
  </div>
</div>
</div>
