
  <%= render :partial => 'app_menu' %>
  <%= render :partial => 'title' %>
  <%= render :partial => 'menu' %>
  <div class="content">
  <div class="article">
    <div id="notice"><%= notice %></div>
    <h1><%= h @article.title %></h1>
    <h4><%= h @article.created_at.to_s(:long) %></h4> 

    <p>
      <%=h @article.body %>
    </p>

    <div class="comment-options">
      <%= link_to 'Add Comment', new_article_comment_path(@article) %>
    </div>
    
    
    <div class="article-menu">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_article_path(@article) %> |
    <% end %>
      <%= link_to 'Back', articles_path %>
    </div>
    
    <%= render :partial => 'comments/comment', :collection => @comments %>
    </div>
  </div>

